body{
	background-color: #A7D2CB;
}

.name {
  color: white;
  font-family: "Comic Sans MS";
  font-style: bold;
  text-align: center;
  margin-top: 10px;
  font-size: 80px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color:#d9ad7c;
  border-radius: 15px 15px 15px 15px;
  font-family: "Comic Sans MS";
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  font-family: "Comic Sans MS";
}

.container {
  padding: 2px 16px;
}
